<h3><%= t("outcomes_for", :event => @event.title) %></h3>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ID</th>
      <th><%= t("description") %></th>
    </tr>
  </thead>

  <tbody>
    <% @outcomes.each_with_index do |o, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= o.id %></td>
        <td><%= o.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>
